@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&display=swap');
// @font-face {
//     font-family: 'Stolzl';
//     src: url('/src/font/Stolzl\ Regular.otf') format('opentype');
//     font-weight: 400;
// }

@font-face {
    font-family: 'Stolzl';
    src: url('/src/font/Stolzl Book Regular.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'Stolzl';
    src: url('/src/font/Stolzl Medium Regular.otf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'Stolzl';
    src: url('/src/font/Stolzl Bold Regular.otf') format('opentype');
    font-weight: 700;
}